<div class="row">
    <div class="col-md-6 offset-md-3">
        <form>
            <div class="form-group">
              <label for="isdb">ISDB</label>
              <input type="number" class="form-control text-right" id="isdb" placeholder="ISDB" #isdb>
            </div>
            <div class="form-group">
              <label for="name">Nombre</label>
              <input type="text" class="form-control" id="name" placeholder="Nombre del libro" #name>
            </div>
            <div class="form-group">
                <label for="description">Descripcion</label>
                <input type="text" class="form-control" id="detail" placeholder="Breve descripcion" #detail>
             </div>
             <div class="form-group">
                <label for="pages">Cant. Paginas</label>
                <input type="number" class="form-control text-right" id="pages" placeholder="0" #pages>
              </div>
              <button type="button" class="btn btn-primary float-right" (click)="agregar(isdb.value, name.value, detail.value, pages.value)">Guardar</button>
          </form>
    </div>
</div>
