<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">&nbsp;&nbsp;{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/list" routerLinkActive="active" class="nav-link" >Listado</a>
      </li>
      <li class="nav-item">
        <a routerLink="/edit" routerLinkActive="active" class="nav-link" >Agregar</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
