
<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4>Lista de libros disponibles</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" *ngFor="let libro of libros">
            <app-card  [libro]="libro"></app-card>
        </div>
    </div>
</div>

